* {
  /* border: 1px solid #fff; */
}

a {
  text-decoration: underline;
  transition: text-decoration 1s;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: darkorange;
}

a:active {
  color: darkorange;
}

body {
  background-color: #333;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 2em;
}

li {
  font-size: 1.5em;
  margin: 1em 0;
}

p {
  font-size: 1.5em;
}

.wrapper {
  /* padding: 50px; */
  height: 100%;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.flexbox__item {
  align-self: center;
  padding: 50px;
}

.flexbox__item-content {
  text-align: center;
}

.bg-colored-text {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.33em;
  line-height: 2rem;
  padding: 0.25em;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}

.music-btn {
  position: fixed;
  top: 20px;
  left: 20px;

  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 1em;
  border-radius: 0.5em;
}

/* Скрываем видео на мобильных устройствах */
@media only screen and (max-width: 768px) {
  .video-background {
    display: none;
  }
  .music-btn {
    display: none;
  }
  body {
    background-image: url(../img/bg-doors.jpg);
    background-size: cover;
  }
}